<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="plantillas/TemplantePie :: head">
        <meta charset="UTF-8">
            <title>Detalle</title>
    </head>
    <body>
        <header th:replace="/plantillas/TemplantePie :: header"></header>



        <div class="container">

            <div class="card bg-light mt-3">

                <div class="container">
                    <a class="btn btn-primary btn-sm mt-3" th:href="@{/nice/profesiones/nuevo}"
                       th:text="'Nueva profesión'" title="Crear nuevo">
                    </a>
                </div>

                <div class="card-header bg-dark text-white mt-3" th:text="${titulo}"></div>

                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-danger">Id</th>
                                <th scope="col" class="text-danger">Descripción de la profesión</th>
                                <th scope="col" colspan="2" class="text-center text-danger">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pro:${profesiones}">
                                <th scope="row" th:text="${pro.id}"></th>
                                <td th:text="${pro.descripcion}"></td>
                                <td class="text-center">
                                    <a class="btn btn-success btn-sm" th:href="@{/nice/profesiones/editar/} + ${pro.id}"
                                       th:text="'Editar'" title="Editar profesión">
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-danger btn-sm" th:href="@{/nice/profesiones/eliminar/} + ${pro.id}"
                                       th:text="'Eliminar'" title="Eliminar profesión"
                                       onclick="return confirm('¿Está seguro de eliminar el registro?');">
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>


        </div>


        <footer th:replace="/plantillas/TemplantePie :: footer"></footer>
    </body>
</html>
