<!DOCTYPE html>
<html xmlns:ht="http://thymeleaf.org">
    <head th:replace="plantillas/TemplantePie :: head">
        <meta charset="UTF-8">
        <title>Examen Final</title>
    </head>
    <body>
        <header th:replace="/plantillas/TemplantePie :: header"></header>

        <div class="container text-center mt-5">
            <h1>Examen Final </h1>
            <h1>Progra II</h1>
        </div>
        <footer th:replace="/plantillas/TemplantePie :: footer"></footer>
    </body>
</html>
