<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="plantillas/TemplantePie :: head">
        <meta charset="UTF-8">
            <title>Registrar usuario</title>
    </head>
    <body>
        <header th:replace="/plantillas/TemplantePie :: header"></header>

        <div class="container">

            <div class="card bg-light mt-3">

                <div class="card-header bg-dark text-white" th:text="${titulo}">

                </div>

                <div class="card-body">
                    <form th:action="@{/nice/usuarios/save}" th:object="${usuario}" method="post">
                        <div class="mb-3 row form-group">
                            <input type="hidden" th:field="*{id}">
                                <label for="nombre" class="col-sm-2 col-form-label text-info">Nombres</label>
                                <div class="col-sm-10">
                                    <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Elias Andree">
                                </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="apellido" class="col-sm-2 col-form-label text-info">Apellidos</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{apellido}" class="form-control" id="apellido" placeholder="Morales Cabrera">
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="profesion" class="col-sm-2 col-form-label text-info">Profesión</label>
                            <div class="col-sm-10">
                                <select th:field="*{profesion}" class="form-select form-control form-control-sm"  id="profesion">
                                    <option th:each="profesion:${profesiones}"
                                            th:value="${profesion.id}"
                                            th:text="${profesion.descripcion}"/>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="correo" class="col-sm-2 col-form-label text-info">Correo electrónico</label>
                            <div class="col-sm-10">
                                <input type="email" th:field="*{correo}" class="form-control" id="correo" placeholder="alexander@gmail.com">
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="telefono" class="col-sm-2 col-form-label text-info">Teléfono</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{telefono}" class="form-control" id="telefono" placeholder="45612378">
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="departamento" class="col-sm-2 col-form-label text-info">Departamento</label>
                            <div class="col-sm-10">
                                <select th:field="*{departamento}" class="form-select form-control form-control-sm"  id="departamento">
                                    <option th:each="departamento:${departamentos}"
                                            th:value="${departamento.id}"
                                            th:text="${departamento.descripcion}"/>
                                </select>
                            </div>
                        </div>



                        <div class="mb-3 row form-group">
                            <label for="latitud" class="col-sm-2 col-form-label text-info">Latitud</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{latitud}" class="form-control" id="latitud">
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="longitud" class="col-sm-2 col-form-label text-info">Longitud</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{longitud}" class="form-control" id="longitud">
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="nacimiento" class="col-sm-2 col-form-label text-info">Fecha de nacimiento</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{nacimiento}" class="form-control" id="nacimiento" placeholder="09/09/2001">
                            </div>
                        </div>

                        <div class="card-footer bg-dark">
                            <input type="submit" class="btn btn-primary btn-sm" value="Guardar"/>
                        </div>

                    </form>
                </div>



            </div>

        </div>

        <footer th:replace="/plantillas/TemplantePie :: footer"></footer>
    </body>
</html>
